.collapse{
    margin-left: 80px;
}
.login{
    background-image: url(/Image/login-button.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 40px;
}
.background img{
    margin-top: 80px;
    margin-right: 30px;
}
.home{
position: relative;
}
.home img{
    position: absolute;
    top: 50px;
    left: 150px;
}
.home h5{
    position: absolute;
    top: 150px;
    left: 110px;
}
.home h1{
    position: absolute;
    top: 180px;
    left: 110px;
    font-weight: 700;
}
.home p{
    position: absolute;
    top: 290px;
    left: 110px;
    font-weight: 500;
}
.home .btn{
    position: absolute;
    top: 430px;
    left: 110px;
    font-weight: 500
}
.basic{
margin-top:10%;
}
.all-deteils{
    text-align: center;
}

.chiken-size img{
width: 20px;
}
